@import './variables.module';

// 文字省略号
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-a {
  color: inherit;
  text-decoration: none;
}

.fl {
  float: left;
}

.w120 {
  width: 120px;
}

// 按钮
.top-menu-btn {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  font-size: 22px;
  background-color: var(--backgroundColor);
  cursor: pointer;
  z-index: 999;
}

// 原生水平的滚动条无法通过margin-bottom为负值来把它挤出可视区
.hidden-x {
  overflow-x: hidden !important;
}

$w: 8, 16;
@each $item in $w {
  .mr#{$item} {
    margin-right: #{$item}px;
  }
}

// 美化滚动条
.#{$css-prefix}-scrollbar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

// ----------------------------------------------------------------------------
// 布局
.#{$css-prefix}-pro-layout {
  position: relative;
  height: 100%;
  width: 100%;

  &--aside,
  &--top,
  &--mix {
    display: flex;
    flex-flow: row wrap;
  }
}

// 当隐藏顶部导航时，导致我们无法再设置了，添加一个固定图标方便找回。
.#{$css-prefix}-layout__setting {
  position: fixed;
  inset-block-start: 240px;
  inset-inline-end: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 16px;
  color: #fff;
  background-color: var(--theme);
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
  cursor: pointer;
  pointer-events: auto;
}

// 当手机模式时，显示左侧菜单控制图标
.#{$css-prefix}-layout__hamburger {
  position: absolute;
  left: 16px;
  bottom: 16px;
  cursor: pointer;
}

// 当手机模式时，覆盖层。
.#{$css-prefix}-layout--drawer-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 1001;
}

// ----------------------------------------------------------------------------
// aside
.#{$css-prefix}-layout-aside {
  display: flex;
  flex-direction: column;
  width: var(--width, 200px);
  padding-top: var(--paddingTop, 0);
  background-color: var(--backgroundColor, #ffffff);
  border-right: 1px solid #dcdfe6;
  overflow: hidden;
  transition: width 0.28s;
  z-index: 999;
  box-sizing: border-box;

  &--dark {
    border-right: none;
  }

  &--fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &--placeholder {
    width: var(--width, 200px);
    padding-top: var(--paddingTop, 0);
  }
}

// asdie__logo, header__logo
.#{$css-prefix}-layout-header__logo,
.#{$css-prefix}-layout-aside__logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  color: var(--color);
  background-color: var(--backgroundColor, #ffffff);
  cursor: pointer;
  transition: padding 0.28s cubic-bezier(0.645, 0.045, 0.355, 1);

  &--collapse {
    padding: 16px 8px;
  }

  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
  }

  img {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    height: 32px;
    margin: 0 0 0 12px;
    color: var(--color);
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    vertical-align: middle;
  }
}

// aside__menu, aside__popper-menu
.#{$css-prefix}-layout-aside__menu,
.#{$css-prefix}-layout-aside__popper-menu {
  // 覆盖默认 56px
  .el-menu-item,
  .el-submenu__title,
  .el-submenu .el-menu-item {
    height: 44px;
    line-height: 44px;

    // 限制文本超出
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  // 图标与文本间距
  .svg-icon {
    margin-right: 16px;
  }

  // menu hover
  // 指定背景色之后，需要自定义 hover 颜色
  .el-submenu__title,
  .el-menu-item {
    &:hover {
      color: var(--theme) !important;
      background-color: var(--lightTheme) !important;
    }
  }

  // 选中
  .el-menu-item {
    &.is-active {
      background-color: var(--lightTheme) !important;
    }
  }
}

// asdie__menu
.#{$css-prefix}-layout-aside__menu {
  flex: 1;

  // 菜单滚动条样式
  .el-scrollbar__bar {
    &.is-vertical {
      right: 0px;
    }

    &.is-horizontal {
      display: none;
    }
  }

  // reset element-ui css
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }

  .el-menu {
    border: none;
    height: 100%;
    width: 100%;
  }

  // 非弹出层菜单添加右边框
  .el-menu-item {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 3px solid var(--theme, #2e59a7);
      transform: scaleY(0.0001);
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      content: '';
    }
    &.is-active {
      &::after {
        transform: scaleY(1);
        opacity: 1;
        transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
          opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  // 暗黑菜单
  &--dark {
    .el-submenu .el-menu-item,
    .nest-menu .el-submenu > .el-submenu__title {
      background-color: var(--subBackgroundColor) !important;
      &:hover {
        background-color: hsla(0, 0%, 90%, 1) !important;
      }
    }

    .el-submenu .el-menu-item {
      &.is-active {
        background-color: hsla(0, 0%, 90%, 1) !important;
      }
    }
  }
}

.closeSidebar .el-menu--collapse {
  .el-submenu {
    > .el-submenu__title {
      .el-submenu__icon-arrow {
        display: none;
      }
    }
  }
  .submenu-title-noDropdown {
    &::after {
      display: none;
    }
  }
}

// aside__popper-menu
.#{$css-prefix}-layout-aside__popper-menu {
  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    width: 200px;
    max-height: 100vh;
    overflow-y: auto;

    @extend .#{$css-prefix}-scrollbar;
  }
}

// asdie__hamburger
.#{$css-prefix}-layout-aside__hamburger {
  display: block;
  padding: 16px;
  border-top: 1px solid #dcdfe6;
  cursor: pointer;
  transition: background 0.28s;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }

  &--dark {
    fill: hsla(0, 0%, 100%, 0.65);
    border-top-color: rgba(255, 255, 255, 0.7);
    &:hover {
      fill: #ffffff;
    }
  }
}

// ----------------------------------------------------------------------------
// header
.#{$css-prefix}-layout-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: var(--width, 100%);
  height: var(--height, 60px);
  background-color: var(--backgroundColor);
  box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
  transition: flex-basis 280ms ease-in-out;
  overflow: hidden;

  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.28s;
    z-index: 1000;
  }

  &--placeholder {
    width: var(--width, 100%);
    height: var(--height, 0);
  }
}

// header__menu
.#{$css-prefix}-layout-header__menu {
  flex: 1;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;

  // 原样式有底部边框，而我们这里不需要(因为我们导航的左有图片、右有自定义内容，而这些内容没有下边框)，隐藏。
  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }

  // 设置高度，因为动态菜单，中间加了div，故原设置失效
  .el-menu--horizontal .el-menu-item,
  .el-menu--horizontal .el-submenu .el-submenu__title {
    height: var(--height);
    line-height: var(--height);
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    &:hover {
      background-color: var(--backgroundColor) !important;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 0 rgba(255, 255, 255, 0.1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.4);
    }
  }

  // 隐藏右侧展开收缩图标，好看一点点
  i.el-submenu__icon-arrow {
    display: none;
  }

  .el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
  .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    color: var(--color);
  }

  // 使用自定义的选中样式
  .el-menu--horizontal .el-menu-item.is-active,
  .el-menu--horizontal .el-submenu.is-active .el-submenu__title {
    color: var(--color);
    box-shadow: inset -2px -2px 12px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid var(--color) !important;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      margin: auto;
      border-width: 6px;
      border-style: solid;
      border-color: transparent var(--color) transparent transparent;
      transform: rotate(90deg);
    }
  }
}

// header__popper-menu
.#{$css-prefix}-layout-header__popper-menu {
  > .el-menu--popup {
    width: 200px;
    max-height: calc(100vh - var(--height, 60px));
    overflow-y: auto;
    overflow-x: hidden;

    @extend .#{$css-prefix}-scrollbar;
  }

  .el-menu-item,
  .el-submenu__title,
  .el-submenu .el-menu-item {
    width: 200px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .el-menu-item.is-active {
    color: var(--theme) !important;
    background-color: #ffffff !important;
  }
}

// header__right
.#{$css-prefix}-layout-header__right {
  display: flex;
  align-items: center;
}

// ----------------------------------------------------------------------------
.#{$css-prefix}-layout-container {
  position: relative;
  min-height: 100%;
  min-width: 0;
  flex: 1;
  background-color: #f0f2f7;
  transition: flex-basis 280ms ease-in-out;

  display: flex;
  flex-direction: column;
}

// ----------------------------------------------------------------------------
// 移动模式
.mobile.#{$css-prefix}-pro-layout {
  &.openSidebar .#{$css-prefix}-layout-aside {
    transition: transform 0.28s;
    width: $base-sidebar-width !important;
    border-right: none;
    z-index: 1001;
  }

  &.hideSidebar .#{$css-prefix}-layout-aside {
    pointer-events: none;
    transition-duration: 0.3s;
    transform: translate3d(-200px, 0, 0);
  }
}
.withoutAnimation.#{$css-prefix}-pro-layout {
  .#{$css-prefix}-layout-aside,
  .#{$css-prefix}-layout-container {
    transition: none;
  }
}

// ----------------------------------------------------------------------------
// 面包屑
.#{$css-prefix}-breadcrumb {
  &.el-breadcrumb {
    display: inline-block;
    font-size: 14px;
    line-height: var(--height, 60px);
    margin-left: 8px;
  }

  .no-redirect {
    color: var(--color, #ffffff);
    cursor: text;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8px;
  }
  .breadcrumb-enter-active,
  .breadcrumb-leave-active {
    transition: all 0.5s;
  }

  .breadcrumb-enter,
  .breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
  }

  .breadcrumb-move {
    transition: all 0.5s;
  }

  .breadcrumb-leave-active {
    position: absolute;
  }
}

// 汉堡
.#{$css-prefix}-hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;

  &.is-active {
    transform: rotate(180deg);
  }
}
