@import './variables.module';


.mypandora-ltf-enter,
.mypandora-ltf-enter-to {
  transform: translate(-100%, 0px);
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

// 文字省略号
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 原生水平的滚动条无法通过margin-bottom为负值来把它挤出可视区
.hidden-x {
  overflow-x: hidden !important;
}

$w: 8, 16;
@each $item in $w {
  .mr#{$item} {
    margin-right: #{$item}px;
  }
}

// 美化滚动条
.#{$css-prefix}-scrollbar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

// ---------- layout ----------
.#{$css-prefix}-pro-layout {
  position: relative;
  height: 100%;
  width: 100%;

  &-side,
  &-top,
  &-mix {
    display: flex;
    flex-flow: row wrap;
  }
}

.#{$css-prefix}-pro-layout-side,
.#{$css-prefix}-pro-layout-mix {
  &.openSidebar {
    .el-menu-item,
    .el-submenu__title {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
  }

  &.closeSidebar {
    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        & > span {
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }
    // 其实与上面的 span 的兄弟节点
    .el-submenu__icon-arrow {
      display: none;
    }
  }
}

.#{$css-prefix}-pro-layout-top,
.#{$css-prefix}-pro-layout-mix {
  i.el-submenu__icon-arrow {
    display: none;
  }
}

.#{$css-prefix}-pro-layout-top {
  .topmenu-container {
    flex: 1;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;

    .topmenu-wrapper {
      overflow: hidden;
      > ul > a {
        float: left;
      }
    }

    // 按钮
    .top-menu-btn {
      position: absolute;
      top: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 100%;
      font-size: 22px;
      background-color: #{'var(--theme)'};
      cursor: pointer;
      z-index: 999;
    }
  }
}
.#{$css-prefix}-pro-layout-mix {
  .mixmenu-container {
    flex: 1;
  }
}

// 主要是对 element-ui 原样式的覆盖
.#{$css-prefix}-pro-layout-top,
.#{$css-prefix}-pro-layout-mix {
  // 原样式有底部边框，而我们这里不需要(因为我们导航的左有图片、右有自定义内容，而这些内容没有下边框)，隐藏。
  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }
}

// ----------------------------------------------------------------------------
.#{$css-prefix}-layout-container {
  position: relative;
  min-height: 100%;
  min-width: 0;
  flex: 1;
  background-color: #f0f2f7;
  transition: flex-basis 280ms ease-in-out;

  display: flex;
  flex-direction: column;
}

.#{$css-prefix}-layout-header {
  overflow: hidden;
  position: relative;
  background-color: var(--theme);
  box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
  transition: flex-basis 280ms ease-in-out;

  display: flex;
  justify-content: space-between;
  height: 60px;

  &-fixed {
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.28s;
    z-index: 1001;
  }
}

.#{$css-prefix}-layout-main {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: flex-basis 280ms ease-in-out;
}

// ----------------------------------------------------------------------------
// 侧边栏
.#{$css-prefix}-layout-side {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  transition: width 0.28s;
  z-index: 1001;
  overflow: hidden;
  box-sizing: border-box;

  &-dark {
    border-right: none;
  }
  &-light {
    border-right: 1px solid #dcdfe6;
  }

  &-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .svg-icon {
    margin-right: 8px;
  }
}

// 侧边栏 logo (顶部导航 logo)
.#{$css-prefix}-layout-navbar-logo,
.#{$css-prefix}-layout-side-logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: var(--backgroundColor);
  cursor: pointer;
  transition: padding 0.28s cubic-bezier(0.645, 0.045, 0.355, 1);

  &-collapse {
    padding: 16px 8px;
  }

  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
  }

  img {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    height: 32px;
    margin: 0 0 0 12px;
    color: var(--color);
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    vertical-align: middle;
  }
}

// 侧边栏 menu
.#{$css-prefix}-layout-side-menu {
  flex: 1;

  // reset element-ui css
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }

  .el-scrollbar__bar {
    &.is-vertical {
      right: 0px;
    }

    &.is-horizontal {
      display: none;
    }
  }

  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
  }

  // 默认56px太高了
  .el-menu-item,
  .el-submenu__title,
  .el-submenu .el-menu-item {
    height: 44px;
    line-height: 44px;
  }

  .el-submenu.is-opened {
    .el-menu-item {
      background-color: var(--subBackgroundColor) !important;
    }
  }

  // menu hover
  // 指定背景色之后，需要自定义 hover 颜色
  .submenu-title-noDropdown,
  .el-submenu__title {
    &:hover {
      background-color: rgba(0, 0, 0, 0.06) !important;
    }
  }

  & .el-submenu .el-menu-item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.06) !important;
    }
  }
}

// 侧边栏 hamburger
.#{$css-prefix}-layout-side-hamburger {
  display: block;
  padding: 8px 16px;
  border-top: 1px solid #dcdfe6;
  cursor: pointer;
  transition: background 0.28s;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
  &-dark {
    fill: hsla(0, 0%, 100%, 0.65);
    border-top-color: rgba(255, 255, 255, 0.7);
    &:hover {
      fill: #ffffff;
    }
  }
}

// 侧边栏 popper
// 菜单 close 时，鼠标移入才会有 popper，为了避免样式冲突，我们又加了一个自定义类：.mypandora-side-poper-menu
.#{$css-prefix}-layout-side-popper-menu {
  // 默认56px太高了
  .el-menu-item,
  .el-submenu__title,
  .el-submenu .el-menu-item {
    height: 44px;
    line-height: 44px;
  }

  .el-menu-item,
  .el-submenu__title {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .svg-icon {
    margin-right: 8px;
  }

  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: rgba(0, 0, 0, 0.06) !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    @extend .#{$css-prefix}-scrollbar;
  }
}

// mobile responsive
.mobile {
  &.openSidebar .sidebar-container {
    transition: transform 0.28s;
    width: $base-sidebar-width !important;
  }

  &.hideSidebar .sidebar-container {
    pointer-events: none;
    transition-duration: 0.3s;
    transform: translate3d(-200px, 0, 0);
  }
}

// ----------------------------------------------------------------------------
.withoutAnimation {
  .main-container,
  .sidebar-container {
    transition: none;
  }
}

// ----------------------------------------------------------------------------
// 当隐藏顶部导航时，导致我们无法再设置了，添加一个固定图标方便找回。
.#{$css-prefix}-pro-layout-setting {
  position: fixed;
  inset-block-start: 240px;
  inset-inline-end: 0px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 16px;
  color: #fff;
  background-color: var(--theme);
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
  cursor: pointer;
  pointer-events: auto;
}

// 当手机模式时，显示左侧菜单控制图标
.#{$css-prefix}-pro-layout-hamburger {
  position: absolute;
  left: 16px;
  bottom: 8px;
  cursor: pointer;
}
// 当手机模式时，覆盖层。
.#{$css-prefix}-pro-layout-drawer-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 999;
}

// 面包屑
.#{$css-prefix}-breadcrumb {
  &.el-breadcrumb {
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
  }

  .no-redirect {
    color: #ffffff;
    cursor: text;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8px;
  }
  .breadcrumb-enter-active,
  .breadcrumb-leave-active {
    transition: all 0.5s;
  }

  .breadcrumb-enter,
  .breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
  }

  .breadcrumb-move {
    transition: all 0.5s;
  }

  .breadcrumb-leave-active {
    position: absolute;
  }
}

// 汉堡
.#{$css-prefix}-hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;

  &.is-active {
    transform: rotate(180deg);
  }
}
