$css-prefix: mypandora;

// 深色菜单
$base-menu-color: #bfcbd9;
$base-menu-background: #304156;

// 浅色菜单
$base-menu-light-color: rgba(0, 0, 0, 0.7);
$base-menu-light-background: #ffffff;

// 子菜单背景色
$base-sub-menu-background: #1f2d3d;
$base-sub-menu-hover: #000c17;

// 宽与高
$base-sidebar-width: 200px;
$base-navbar-height: 48px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuBackground: $base-menu-background;

  menuLightColor: $base-menu-light-color;
  menuLightBackground: $base-menu-light-background;

  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;

  sideBarWidth: $base-sidebar-width;
  navbarHeight: $base-navbar-height;
}
